<h3>Todos List</h3>

<h3>Hardcoded Todos List</h3>
@for (todo of todoStaticItems(); track todo.id) {
<li>{{ todo.title }}</li>
}

<h3>API CALL Todos List</h3>

@for (todo of todoItemsAPI(); track todo.id) {
  <li>{{ todo.title }}</li>
  }

<h3>-----------------</h3>

<h3>API CALL Todos List with Edit</h3>

@if (!todoItemsAPI().length) {
<p>Loading...</p>
}

<form>
  <label>Filter Todos</label>
  <input
    name="searchTerm"
    [(ngModel)]="searchTerm"
    placeholder="Search todos..."
  />
</form>

<ul class="todos">
  @for (todo of todoItemsAPI() | filterTodos : searchTerm() ; track todo.id) {
  <app-todo-item (todoToggled)="updateTodoItem($event)" [todo]="todo" />
  }
</ul>

<h3>-----------------</h3>
